body { font-family: "Myriad Pro", "Myriad Web", "Tahoma", "Helvetica", "Arial", sans-serif; width: 100%; margin: 0 auto;
 background-color: rgba(200, 197, 191, 0.43); }
h1 {}
h2 { margin: 20px; color: #002DFF; }
h3 {}
p {  }
table { margin: 10px; }
#menu-block { margin-left: 130px; }
#firstline { background-color: rgba(207, 255, 236, 0.17); }
#tabs { width: 1243px; }
#description table { width: 900px; }
#description td { width: 300px; }
.name { color: grey; }
#description tr:hover { background-color: lightgrey; }
#description tr { border-color: lightgrey; }
#info { width: 250px; display: inline-block; position: relative; height: auto; }
#info p { padding-left: 20px; }
#info p { padding-top: 2px; }
#zakaz { width: 550px; float: left; position: relative; }
#zakaz p { padding: 20px; }
#itogo { width: 800px; float: left; position: relative; }
.allpayment { padding-left: 500px; }
#content-pay { background-color: white; width: 1250px; margin: 0 auto; border-radius: 30px 30px 0px 0px; position: relative; }
input { border: 2px double lightgrey; height: 24px; width: 250px; font-size: 15px; }


input:required:valid { /* when a field is considered valid by the browser */
background: #fff url(/img/valid.png) no-repeat 98% center;
box-shadow: 0 0 5px #5cd053;
border-color: #5cd053;
}

input:focus:invalid { /* when a field is considered valid by the browser */
    border-color: blue;
}

/* start hide/show list */
ul.list_img {
    list-style-image: url(/img/bullet.png);
    line-height: 170%;
}
ul.list_img li {
    cursor: pointer;
}
ul.list_imgs {
    list-style: none none;
    display: none;
}
/* end hide/show list */

/* start content-payment */
#content-payment { width: 800px; height: 550px; margin: 0 auto; position: relative; }
#content-payment span { color: #007fd1; }
/* end content-payment */

/* start container block */
#container { background-color: white; width: 1250px; margin: 0 auto; border-radius: 30px; }
/* end container block */


/* start button buy */
button.button7 {
    font-weight: 700;
    font-size: 20px;
    color: white;
    background: red;
}
button.button7:hover { background-color: #fdb13f; }
button.button7:active { background: #fdb13f; }
/* end button buy */


/* start top-left block */
#top-left { width: 400px; height: 500px; float: left; }
.firstimg { margin: 10px; }
.secondimg { margin-left: 10px; }
.thirdimg, .fourthimg, .fifthimg, .sexthimg { margin: 0; }

/* end top-left block */

/* start top-center block */
#top-center { width: 400px; height: 500px; display: inline-block; }
#top-center h1 { margin: 4% 0% 1% 1%; text-align: left; }
#top-center p { text-align: left; margin: 2%; }
.yashare-auto-init { margin: 5px; text-align: right; }
.option-word1 { font-weight: 100; color: grey;}
.option-word2 { font-weight: 300; }
/* end top-center block */

/* start top-right block */
#top-right { width: 450px; height: 500px; display: inline-block; float: right; }
/* end top-right block */

/* start price block */
#price { background-color: rgba(253, 249, 222, 0.53); width: 350px; margin: 10px 0px 0px 20px; border-radius: 5%; padding: 5px; }
#price2 { background-color: rgba(253, 249, 222, 0.53); width: 350px; margin-top: 0px; border-radius: 5%; padding: 5px; }
/* end price block */

/* start description block */
#description { width: 1250px; float: left; }
#description p { margin: 0px 40px 10px 40px; }
#description .title { margin-top: 10px; }
/* end description block */

/* start order block */
#order { background-color: gainsboro; border-radius: 15px; margin: 5px; padding: 5px; text-align: center; }
/* end order block */

/* start comment block */
#fotter { float: left; background-color: lightgoldenrodyellow; width: 1250px; border-radius: 0px 0px 30px 30px; }
#fotter h5 { font-weight: 100; }
#fotter table { margin: 0 auto; }
/* end comment block */

/* start phone block */
#phone { background-color: yellow; margin: 15px; font-weight: bold; text-align: center; width: 300px; border-radius: 5%; padding: 1px;  }

/* start modal windows */
/* first window */
.modalDialog1 {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    display: none;
    pointer-events: none;
}

.modalDialog1:target {
    display: block;
    pointer-events: auto;
}

.modalDialog1 > div {
    width: 600px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
}
/* second window */
.modalDialog2 {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    display: none;
    pointer-events: none;
}

.modalDialog2:target {
    display: block;
    pointer-events: auto;
}

.modalDialog2 > div {
    width: 600px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
}
/* third window */
.modalDialog3 {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    display: none;
    pointer-events: none;
}

.modalDialog3:target {
    display: block;
    pointer-events: auto;
}

.modalDialog3 > div {
    width: 600px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
}
/* fourth window */
.modalDialog4 {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    display: none;
    pointer-events: none;
}

.modalDialog4:target {
    display: block;
    pointer-events: auto;
}

.modalDialog4 > div {
    width: 600px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
}
/* fifth window */
.modalDialog5 {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    display: none;
    pointer-events: none;
}

.modalDialog5:target {
    display: block;
    pointer-events: auto;
}

.modalDialog5 > div {
    width: 600px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
}

/* six window */
.modalDialog6 {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    display: none;
    pointer-events: none;
}

.modalDialog6:target {
    display: block;
    pointer-events: auto;
}

.modalDialog6 > div {
    width: 600px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
}
/* six window */
/* callback window */
.modalDialog7 {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    display: none;
    pointer-events: none;
}

.modalDialog7:target {
    display: block;
    pointer-events: auto;
}

.modalDialog7 > div {
    width: 600px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
}

.modalDialog8 {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    display: none;
    pointer-events: none;
}

.modalDialog8:target {
    display: block;
    pointer-events: auto;
}

.modalDialog8 > div {
    width: 600px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
}
/* callback window */
/* close windows */
.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #00d9ff; }
/* end modal windows */